.container {
    background-color: #f8fafd;
    width: 250px;
    height: 300px;
}
.header {
    display: flex;
    font-size: 11pt;
    padding: 0px;
    margin: 0px;
}
.month {
    font-family: "Roboto", sans-serif;
    font-size: 11pt;
    font-weight: 300;
    margin-bottom: 0px;
}
.left {
    height: 13px; 
    margin-top: 22px;
    margin-left: 60px;
    margin-bottom: 0px;
}
.right {
    height: 25px;
    margin-top: 16px;
    margin-left: 5px;
    margin-bottom: 0px;
}
.days {
    font-family: "Roboto", sans-serif;
    font-size: 8pt;
    
}
.calendarContent {
    width: 240px;
    text-align: center;
    height: 180px;
}
.calenderDayNames {
    text-align: center;
    margin-top: 2px;
}
.calendarDayNums {
    margin-top: 2px;
}
.dow {
    font-size: 8pt;
    margin: 0px;
    margin-left: 12px;
    margin-top: 5px;
    text-align: center;
}
